default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  prepared_statements: false

development:
  <<: *default
  database: superdelegation_development

test:
  <<: *default
  database: superdelegation_test
