$error-color: #FF9494;

.description p {
  border-bottom: 2px solid #2199e8;
  padding-bottom: 1em;
}

.field_with_errors {
  label {
    font-style: italic;
  }

  textarea, input, select {
    border: 1px solid $error-color;
  }
}
