$bernie-blue: #2199e8;
$error-color: #FF9494;

%bottom-line {
  border-bottom: 2px solid $bernie-blue;
}

.description p {
  @extend %bottom-line;
  padding-bottom: 16px;
}

.title {
  @extend %bottom-line;
}

.field_with_errors {
  label {
    font-style: italic;
  }

  textarea, input, select {
    border: 1px solid $error-color;
  }
}

.recaptcha-container {
  margin-bottom: 16px;
}

.rep-header, .delegate-name {
  margin-bottom: 0;
}

.message-instructions {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  @extend %bottom-line;
}

.success.fb-share-button {
  margin-bottom: 1rem;
}

#writing-help {
  li {
    word-wrap: break-word;
  }
}
