$bernie-blue: #2199e8;
$error-color: #FF9494;

.description p {
  border-bottom: 2px solid $bernie-blue;
  padding-bottom: 16px;
}

.title {
  border-bottom: 2px solid $bernie-blue;
}

.field_with_errors {
  label {
    font-style: italic;
  }

  textarea, input, select {
    border: 1px solid $error-color;
  }
}

.recaptcha-container {
  margin-bottom: 16px;
}

.rep-header, .delegate-name {
  margin-bottom: 0;
}
